{% extends "users/base.html" %}

{% load static %}

{% block content %}  

<section class="site-hero inner-page overlay" style="background-image: url({% static 'images/bookingPage.png' %})" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade">
              <h2 class="text-white d-block  mb-3">Ten cuidado, ya que puedes</h2>
              <h1 class="heading">Eliminar tu Cuenta</h1>
          </div>
      </div>
    </div>

    <section class="section bg-light">

      <div class="container">
      
        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="100">
          <a href="#" class="image d-block bg-image-2" style="background-image: url({% static 'images/delete_accountPage.png' %});"></a>
          <div class="text">
            <h2 class="mb-4">¿Estás seguro de que quieres eliminar tu cuenta?</h2>
            <p>Eliminar tu cuenta es una acción permanente y no se puede deshacer. Perderás acceso a todas tus reservaciones y cualquier otra información asociada con tu cuenta.</p>
            
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary text-white py-2 mr-3 font-weight-bold" >Sí, Eliminar</button> 
                <span class="mr-3 font-family-serif"><em>o</em></span> 
                <a href="{% url 'users:account' %}" class="text-uppercase letter-spacing-1" >Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
