{% extends "users/base.html" %}

{% load static %}

{% block content %}   

<section class="site-hero overlay" style="background-image: url({% static 'images/signupPage.jpg' %})" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade-up">
    
                <main class="container mt-5">
                    <div class="row justify-content-center">
                        <section class="col-md-12">
                            <form action="{% url 'hoteladmin:habitaciones' %}" method="POST" class="card card-body">
                                <h3 class="text-center">Eliminar una habitación</h3>
                                {% csrf_token %} 
    
                                    <div>
                                        <label for="hotel">Hotel:</label>
                                        <select id="hotel" name="hotel">
                                            {% for hotel in hoteles %}
                                                <option value="{{ hotel.id_hotel }}">{{ hotel.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <label for="numero">Número:</label>
                                        <input type="text" id="numero" name="numero" required>
                                    </div>
                                    <div>
                                        <label for="">Dar de baja la habitación</label>
                                        <button type="submit" class="btn btn-primary btn-block">Eliminar &nbsp; <i class="fa fa-user" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
    
                        </section>
                    </div>
                </main>
            </div>
        </div>
    </div>
    
    
    {% endblock %}