{% extends "users/base.html" %}

{% load static %}

{% block content %}      

{% csrf_token %}

    <section class="site-hero inner-page overlay" style="background-image: url({% static 'images/invoicePage.png' %})" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade">
                <h2 class="text-white d-block  mb-3">Con el correo del cliente genera una</h2>
                <h1 class="heading">cuenta de los gastos</h1>
            </div>
        </div>
      </div>


<section class="section contact-section">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
              <form method="post" class="bg-white p-md-5 p-4 mb-5 border" >
            {% csrf_token %}
            

            <div class="row">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="email">Correo electrónico</label>
                  <input type="text" name="email" class="form-control ">
                </div>
              </div>
                
                <hr/>
              <div class="row">
                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-primary text-white font-weight-bold">Buscar reservaciones</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
