{% extends "users/base.html" %}

{% load static %}

{% block content %}   

 <section class="site-hero overlay" style="background-image: url({% static 'images/loginPage.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
        <main class="'container">
          <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">
               <form action="/login" method="POST" class="card card-body">
                   <h3 class="text-center">Iniciar Sesión</h3> 
                   {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="mb-3">
                        <label for="">Nombre de Usuario:</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Ingresa nombre de usuario" Required>
                    </div>
                    <div class="mb-3">
                        <label for="">Contraseña:</label>
                        <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Ingresa tu contraseña" Required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión &nbsp; <i class="fa fa-key" aria-hidden="true"></i></button>
                </form>
            </section>    
            </div>  
            </main>
          </div>
        </div>
    </div>
{% endblock %}
